.estilo-body{
  background: #000000 !important;
}
.logo-imagen{
  width: 150px;

}
.contenid{
  margin-top: 30px;
}
@media (min-width: 576px) {
  .logo-imagen{
    text-align: center;
  }
}

.imagen-rounded{
  border-radius: 6px;
}
