.body-cinema{
  background-color: gray;
}

.navbar-inverse{
  min-height: 10%;
  background-color: blue;
  border: none;
}
.container-fluid{
  margin-top: 64px;
}
.jumbotron{
  background-color: aquamarine;
  min-height: 500px;
  margin-bottom: 0px;
  border-radius: 0px !important;
}
.titulo-cartelera{
  background-color: #ffffff;
  min-height: 45px;
}
.movies-row{
  background-color: aquamarine;
  min-height: 350px;
  padding-left: 15px;
  padding-right: 15px;
}
.movies-column{
  margin-top: 5px;
  background-color: pink;
  min-height: 330px;
  border: 1px dashed yellow;
}
@media max-width (770px){
  .right-column{
    display: none;
  }
  .movies-row{
    min-height: 250px;
  }
  .movies-column{
    min-height: 230px;
  }
  .jumbotron{
    min-height: 350px;
  }
}
.left-column{
  border-right: 1px dashed green;
}
